Data Description

Step 1. Import Libraries

In [24]:
import pandas as pd

Step 2. Import Data

In [25]:
def import_data(customers, products, orders, sales):
    # Read relevant files
    customers_record = pd.read_csv(customers)
    products_record = pd.read_csv(products)
    orders_record = pd.read_csv(orders)
    sales_record = pd.read_csv(sales)

    # Merge all records into one dataframe
    merged_record = pd.merge(customers_record, orders_record, on="customer_id")
    merged_record = pd.merge(merged_record, sales_record, on="order_id")
    merged_record = pd.merge(merged_record, products_record, on="product_id")
    return merged_record

In [26]:
data = import_data("customers.csv", "products.csv", "orders.csv", "sales.csv")
print(data.head())

   customer_id  customer_name  gender  age                    home_address  \
0            1  Leanna Busson  Female   30  8606 Victoria TerraceSuite 560
1            1  Leanna Busson  Female   30  8606 Victoria TerraceSuite 560
2            1  Leanna Busson  Female   30  8606 Victoria TerraceSuite 560
3            1  Leanna Busson  Female   30  8606 Victoria TerraceSuite 560
4            1  Leanna Busson  Female   30  8606 Victoria TerraceSuite 560

   zip_code           city               state    country  order_id  ...  \
0      5464  Johnstonhaven  Northern Territory  Australia       455  ...
1      5464  Johnstonhaven  Northern Territory  Australia       455  ...
2      5464  Johnstonhaven  Northern Territory  Australia       670  ...
3      5464  Johnstonhaven  Northern Territory  Australia       670  ...
4      5464  Johnstonhaven  Northern Territory  Australia       670  ...

   price_per_unit quantity_x total_price  product_type   product_name  size  \
0             106          3         318         Shirt       Chambray     S
1              91          2         182        Jacket       Pullover     L
2              98          2         196        Jacket        Leather    XS
3              91          2         182        Jacket       Pullover     M
4              98          1          98         Shirt  Camp Collared    XL

   colour  price quantity_y                                    description
0     red    105         72        A red coloured, S sized, Chambray Shirt
1  yellow    114         43    A yellow coloured, L sized, Pullover Jacket
2     red    113         67       A red coloured, XS sized, Leather Jacket
3    blue    114         44      A blue coloured, M sized, Pullover Jacket
4     red    112         79  A red coloured, XL sized, Camp Collared Shirt

[5 rows x 25 columns]

Print descriptive stats

In [28]:
df = pd.DataFrame(data)

# Descriptive Analysis
print("Size of data(rows, cols):", df.shape)

# Sales data available upto date
df['date'] = pd.to_datetime(df['order_date'])
max_date = df['date'].max()
print("Sales data available upto date:", max_date)

# Number of customers
num_customers = df['customer_id'].nunique()
print("Number of unique customers:", num_customers)

# Number of products
num_products = df['product_name'].nunique()
print("Number of unique products:", num_products)

# Name of products
products = df['product_name'].unique()
print("Name of unique products:", products)

# Number of product type
product_type = df['product_type'].nunique()
print("Number of unique product types:", product_type)

# Names of product type
product_type_name = df['product_type'].unique()
print("Name of unique product types:", product_type_name)

# Average monthly sales 
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
monthly_sales = df.groupby(['year', 'month']).agg({'total_price': 'sum'}).mean()
print("Average monthly sales: $", monthly_sales.values[0])

Size of data(rows, cols): (5000, 25)
Sales data available upto date: 2021-10-24 00:00:00
Number of unique customers: 616
Number of unique products: 35
Name of unique products: ['Chambray' 'Pullover' 'Leather' 'Camp Collared' 'Cropped'
 'Tracksuit Bottoms' 'Shearling' 'Casual Slim Fit' 'Wool' 'Relaxed Leg'
 'Linen' 'Bomber' 'Windbreaker' 'Chinos' 'Coach' 'Pleated' 'Puffer'
 'Cardigan' 'Peacoat' 'High-Waisted' 'Slim-Fit' 'Denim' 'Oxford Cloth'
 'Drawstring' 'Flannel' 'Joggers' 'Cuban Collar' 'Mandarin Collar'
 'Trench Coat' 'Cargo Pants' 'Dress' 'Cords' 'Parka' 'Polo' 'Henley']
Number of unique product types: 3
Name of unique product types: ['Shirt' 'Jacket' 'Trousers']
Average monthly sales: $ 103180.0